.headerContainer {
    width: 100%; 
    display: flex; 
    align-items: center;
    flex-direction: column;
}
.header {
    background-color: #222234; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex; 
    color: white; 
    width: 100%; 
}
.header .left {
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 15px; 
}
.header .left h2{
    margin-left: 10px; 
    color: rgb(154, 153, 153);
}
.header .right {
    display: flex; 
    padding: 15px; 
    color: gray; 
}
.headerSecondContainer{
    width: 100%; 
    display: flex; 
    background-color: white;
    padding: 25px; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: rgb(76, 76, 76);

}
.headerSecond{
    color: #2180d6; 
}
.headerSecond li:hover{
    color: #0f4577; 
}